{% extends "base.html" %}

{% block title %}SSH Certificate Management - Logs{% endblock %}

{% block header %}Logs and Command History{% endblock %}

{% block content %}
        <div class="logs-filters-container">
            <label class="logs-filters-item">Commands only:
                <select name="commands_only">
                    <option value="no" {% if filters.commands_only == 'no' %}selected{% endif %}>No</option>
                    <option value="yes" {% if filters.commands_only == 'yes' %}selected{% endif %}>Yes</option>
                </select>
            </label>
            <label class="logs-filters-item logs-filters-datepicker">Date Range:
                <input type="date" name="date_from" value="{{ filters.date_from }}" placeholder="From">
                <input type="date" name="date_to" value="{{ filters.date_to }}" placeholder="To">
            </label>
            <label class="logs-filters-item">Keywords:
                <input type="text" name="keywords" value="{{ filters.keywords }}" placeholder="Search...">
            </label>
            <fieldset class="logs-filters-fieldset">
                <legend class="logs-filters-legend">Severity:</legend>
                {% for severity in ['INFO', 'WARN', 'DEBUG', 'ERROR'] %}
                <label>
                    <input type="checkbox" name="severity" value="{{ severity }}" {% if severity in filters.severity %}checked{% endif %}>
                    {{ severity }}
                </label>
                {% endfor %}
            </fieldset>
        </div>
        <button class="small-button" type="submit">Apply</button>
        <table>
            <thead>
            <tr>
                <th>EntryID</th>
                <th>Timestamp</th>
                <th>Severity</th>
                <th>TraceID</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.entry_id }}</td>
                <td>{{ log.timestamp }}</td>
                <td>{{ log.severity }}</td>
                <td>{{ log.trace_id }}</td>
                <td>
                    {{ log.message | safe }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}

{% block bottom_button %}
    <button class="main-bottom-button" id="load-more">Load More</button>
{% endblock %}
