{% extends "base.html.j2" %}

{% block title %}SSH Certificate Management - Logs{% endblock %}

{% block header %}Logs and Command History{% endblock %}

{% block content %}
    <form action="/logs" method="GET" class="logs-filters-container">
        <div class="logs-filters-item">
            <label for="commands_only">Commands only:</label>
            <select name="commands_only" id="commands_only">
                <option value="0" {% if not filter_data.commands_only %}selected{% endif %}>No</option>
                <option value="1" {% if filter_data.commands_only %}selected{% endif %}>Yes</option>
            </select>
        </div>
        <div class="logs-filters-item logs-filters-datepicker">
            <label>Date Range:</label>
            <input type="date"
                   name="date_from"
                   placeholder="From"
                   value="{{ filter_data.date_from | default('', true) }}">
            <input type="date" name="date_to" placeholder="To" value="{{ filter_data.date_to | default('', true) }}">
        </div>
        <div class="logs-filters-item">
            <label for="keywords">Keywords:</label>
            <input type="text"
                   name="keywords"
                   id="keywords"
                   placeholder="Search..."
                   value="{{ filter_data.keywords | default('', true) }}">
        </div>
        <fieldset class="logs-filters-fieldset">
            <legend class="logs-filters-legend">Severity:</legend>
            {% for severity in ['INFO', 'WARN', 'DEBUG', 'ERROR'] %}
                <label>
                    <input type="checkbox"
                           name="severity[]"
                           value="{{ severity }}"
                           {% if severity in filter_data.severity %}checked{% endif %}>
                    {{ severity }}
                </label>
            {% endfor %}
        </fieldset>
        <button class="small-button" type="submit">Apply</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>EntryID</th>
            <th>Timestamp</th>
            <th>Severity</th>
            <th>TraceID</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.entry_id }}</td>
                <td>{{ log.timestamp }}</td>
                <td>{{ log.severity }}</td>
                <td>{{ log.trace_id }}</td>
                <td>
                    {{ log.message | safe }} {# Assuming message is HTML safe and does not need escaping #}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block bottom_button %}
    <button class="main-bottom-button" id="load-more">Load More</button>
{% endblock %}
